html, body {
    min-width: 200px;
    min-height: 150px;
}
.pg-wrap {
    margin: .5rem;
}
.button-container {
    display: flex;
    width: 100%;
    align-items: stretch;
    align-content: center;
    justify-content: center;
}
.button {
    background-color: #0a84ff;
    color: #fff;

    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.25em;
    cursor: pointer;

    /* to center the text */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    /* so button grows to fill container */
    flex: 1;
}
.button-addon {
    border-left: 1px solid #fff;
    background-color: #0a84ff;
    color: #fff;
    margin: 3% auto;
    padding: 5px;
    text-align: center;
    font-size: 1.25em;
    cursor: pointer;
    /* min-size before remaining space is distributed */
    flex-basis: 15%;
}
.ico-container {
    filter: invert(1);
}
