html, body {
    min-width: 200px;
    min-height: 150px;
}
.pg-wrap {
    margin: .5rem;
}
.button {
    background-color: #0a84ff;
    color: #fff;

    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.25em;
    cursor: pointer;
}
